<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
</head>

<body>

    <h2>Dashboard</h2>

    <h3>
        Welcome {{ current_user.name }}
    </h3>

    <p>
        Role:
        {{ current_user.role }}
    </p>

    <hr>

    <h3>Student Management</h3>

    <a href="/students">
        Students
    </a>

    <br><br>

    <h3>Attendance Management</h3>

    <a href="/attendance">
        Mark Attendance
    </a>

    <br><br>

    <a href="/attendance-report">
        Attendance Report
    </a>

    <br><br>

    <a href="/attendance-summary">
        Attendance Summary
    </a>

    <br><br>

    {% if current_user.role == "admin" %}

    <h3>Admin Features</h3>

    <p>
        Teacher Management
        (Coming Soon)
    </p>

    {% endif %}

    <hr>

    <a href="{{ url_for('auth.logout') }}">
        Logout
    </a>

</body>

</html>